.win {
  position: absolute;
  top: 0;
  left: 0;
  font-size: clamp(1.5rem, 5vw, 2.5rem);

  letter-spacing: 5px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
  p {
    max-width: 90%;
  }
}
.stripe {
  position: absolute;
  display: flex;
  justify-content: center;

  width: 0;
  height: 20%;

  background: linear-gradient(to left, #6e529d 0%, #d97b93 100%);
  &:nth-last-of-type(1) {
    top: 0%;
    left: 0;
    animation: winAnimation 0.5s 1s linear forwards;
  }
  &:nth-last-of-type(2) {
    top: 20%;
    right: 0;
    animation: winAnimation 0.5s 1.5s linear forwards;
  }
  &:nth-last-of-type(3) {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    top: 40%;
    left: 0;
    animation: winAnimation 0.5s 2s linear forwards;

    p {
      color: black;
      font-weight: 700;
      margin: 0;
      opacity: 0;
      animation: textAnimation 0.5s 3.5s linear forwards;
      display: flex;
      align-items: center;
    }
  }
  &:nth-last-of-type(4) {
    top: 60%;
    right: 0;
    animation: winAnimation 0.5s 2.5s linear forwards;
  }
  &:nth-last-of-type(5) {
    top: 80%;
    left: 0;
    animation: winAnimation 0.5s 3s linear forwards;
  }
}
@keyframes winAnimation {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes textAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.button--go-back {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem !important;
}
