.timer {
  width: 250px;
  height: 50px;
  left: 40px;
  top: 70px;
  position: absolute;

  -webkit-mask-image: url("../../../../assets/others/clip.png");
  mask-image: url("../../../../assets/others/clip.png");
  -webkit-mask-size: 100%;
  mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.301);
  @media (max-width: 1250px) {
    position: relative;
    margin: 1rem auto;
    display: block;
    left: 0;
    top: 0;
  }
  &__filling {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;

    background: linear-gradient(to bottom, #6e529d 0%, #d97b93 100%);
  }
}
