.puzzle-page {
  padding-bottom: 2rem;
}
.button--repeat {
  position: absolute;
  top: 30px;
  right: 30px;
  @media (max-width: 1250px) {
    position: unset;
    margin: 1rem auto;
    display: block;
  }
}
.button--go-back {
  position: absolute;
  right: 30px;
  top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem !important;
  @media (max-width: 1250px) {
    position: unset;
    margin: 1rem auto;
  }
}
